  html,body {
    height: 100%;
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'Roboto2', sans-serif;
    font-size: 16px;
  }
  h1 {
	font-weight: normal;
  }
  core-header-panel {
    height: 100%;
  }
  core-toolbar {
    background: #03a9f4;
    color: white;
  }
  .content-column {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  @media (max-width: 480px) {
    paper-tabs {
      width: 100%;
    }
  }
  @media (min-width: 481px) {
    paper-tabs {
      width: 200px;
    }
  }
